#playerStats{
    position: fixed;
    top: 10px;
    left: 10px;
}

h1{
    letter-spacing: 2px;
    /* text-decoration: underline; */
    margin: 0px;
    font-size: 1.5rem;
}
h3{
    font-weight: 100;
    margin-top: 0px;
    font-size: 1rem;
    margin-bottom: 20px;
}

#playerStats__lines{
    display: flex;
}

#player__lines__thick{
    display: block;
    height: 0.2rem;
    width: 7.5rem;
    background-color: white;
}

#player__lines__thin{
    margin-top: 0.47%;
    display: block;
    height: 0.1rem;
    width: 7.5rem;
    background-color: lightgray;
}